<div class="container">

  <div class="panel panel-primary">

    <div class="panel-heading">
      <h2>Publisher:{{quote.quotestr}}</h2>
    </div>

    <div class="panel-body">
      <p class="quote">
        Author:{{quote.author}}
      </p>
      <p appHighlight>
        Quote:{{quote.publisher}}
      </p>
    </div>

    <div class="panel=footer">
      <ul>
        <li>
          <p>Upvotes: {{quote.upvotes}}</p>
        </li>
        <li>
          <p>Downvotes: {{quote.downvotes}}</p>
        </li>
      </ul>
    </div>




    <p>
      {{quote.mydate}}
    </p>
  </div>



</div>