<app-header></app-header>
<app-form (emitQuote)="addQuote($event)"></app-form>
<div *ngFor="let quote of quotes; let i=index">

    <app-quote-details [quote]="quote"></app-quote-details>
    <button class="btn btn-success" (click)="upvote(i)" >  Upvote <span class="badge badge-light">{{quote.upvotes}}</span> </button>
    <button class="btn btn-info" (click)="downvote(i)">Downvote <span class="badge badge-light">{{quote.downvotes}}</span></button>
    <button class="btn btn-danger" (click)="deleteQuote(i)">Delete</button>
    
</div>